/**
 * @author gabrielomelo
 */

@import url('https://fonts.googleapis.com/css?family=Anton');

canvas {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	float: right;
	background-color: black;
}

body {
	font-family: "Anton", sans-serif;
	color: white;
	font-size: x-large;
	background-color: #2b2828;
}

div#hud{
	float: left;
	position: relative;
	color: white;
	margin: 20px;
	height: 100%;
	width: 20%;
	padding-left: 30%;
}

button#start{
	background-color: darkgray;
	border: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
