<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Estoque/LAB IOT VIVO</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <header class="top">
      <img id="headerLogo"
           src="fei-logo.png" alt="LAB IOT FEI">
    </header>
    <nav>
      <ul>
        <li class="selected"><a href="index">Visualização de Estoque</a></li>
        <li><a href="provider_registration">Cadastro Fornecedor</a></li>
        <li><a href="product_registration">Cadastro Produto</a></li>
        <li><a href="prod_manager">Alteração de Estoque</a></li>
      </ul>
    </nav>
    <center><h2>Relatório</h1></center>
    <div id="container">
    <div id="tableContainer">
      <div id="tableRow">
        <section id="main">
          
          <table>
            <tbody>
              <tr>
                <td>Descriçao</td>
                <td>Quantidade</td>
                <td>Localização</td>
                <td>Imagem</td>
              </tr>

              <% for(var i=0; products.length > i; i++){ %>    
              <tr>
                <td><%=products[i].description%></td>
                <td><%=products[i].qty%></td>
                <td><%=products[i].localization%></td>
                <td><img src="<%=products[i].img_path%>" style="height:150px;max-width:100px;width: expression(this.width > 500 ? 500: true);"></td>
              </tr>
              <% } %>

            </tbody>
          </table>

        </section>
      </div> <!-- tableRow -->
    </div> <!-- tableContainer -->
    </div>
    <footer>
      &copy; 2018, FEI
    </footer>
  </body>
</html>


